
.orbisius_support_tickets_view_ticket_author_msg {
    border: 1px solid #aaa;
    /*background: #aaa;*/
    padding: 3px;
}

.orbisius_support_tickets_view_ticket_rep_msg {
    border: 1px solid #aaa;
    background: #ccc;
    padding: 3px;
}
